.hero {
  background-color: $second-bcg-color;
  background-image: linear-gradient($hero-gradient), url(../images/hero/hero-480w.jpg);
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient($hero-gradient), url(../images/hero/hero-480w@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient($hero-gradient), url(../images/hero/hero-768w.jpg);
  }

  @media (min-width: 768px),
    (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient($hero-gradient), url(../images/hero/hero-768w@2x.jpg);
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient($hero-gradient), url(../images/hero/hero-1600w.jpg);
  }

  //   @media (min-width: 1200px),
  //     (min-device-pixel-ratio: 2),
  //     (-webkit-min-device-pixel-ratio: 2),
  //     (min-resolution: 192dpi),
  //     (min-resolution: 2dppx) {
  //     background-image: linear-gradient($hero-gradient), url(../images/hero/hero-1600w@2x.jpg);
  //   }

  margin: 0 auto;

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  background-repeat: no-repeat;
  background-position: center;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
  }
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;

  font-size: 26px;
  line-height: 1.62;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: $title-white-accent;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: inline-block;
}
