$font-family:Roboto,
sans-serif;

$main-bcg-color: #ffffff;
$second-bcg-color: #2f303a;

$main-color: #757575;
$accent-color: #2196f3;

$title-color: #212121;
$title-white-accent: #ffffff;

$subtitle-bcg: rgba(47, 48, 58, 0.8);

$header-border-col:#ECECEC;
$site-nav-accent:rgba(33, 150, 243, 1);

$hero-gradient: rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4);

$button-main-color: #f5f4fa;

$border-color:rgba(175, 177, 184, 1);

$icon-color:rgba(175, 177, 184, 1);
$icon-secon-color: rgba(255, 255, 255, 1);
$icon-thumd-color:rgba(245, 244, 250, 1);


$input-border-color: rgba(33, 33, 33, 0.2);
$placeholder-color: rgba(117, 117, 117, 0.5);

$subscribe-border: 1px solid rgba(255, 255, 255, 0.3);
$subscribe-placeholder-col: rgba(255, 255, 255, 0.6);

$backdrop-bcg-color:rgba(0, 0, 0, 0.2);

$button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$button-hover:#188ce8;

$projects-border-col:#EEEEEE;
$overlay-color:rgba(33, 150, 243, 0.9);

$footer-contact-color:rgba(255, 255, 255, 0.6);
$footer-icon-bcg-color:rgba(255, 255, 255, 0.1);



